.header{
    display: flex;
    align-items: center;
    justify-content: space-between; /*it equally distributes space horizontally among the elements in the header*/
    z-index: 100;
    border-bottom: 1px solid #f9f9f9;
}

.header__logo{
    object-fit: contain;
    height: 45px;
}

.header__icon{
    padding: 15px;
}